numpy==1.16.4
python-prctl==1.7
cython==0.29.7

-e git+https://github.com/NewKnowledge/TimeSeries-D3M-Wrappers.git@86b8566d3767f79562ecec3316e77247b1a39061#egg=TimeSeriesD3MWrappers
-e git+https://github.com/autonlab/fastlvm.git@f0c7d40c8e7005d5e3470a0247f0bf4449a56eed#egg=fastlvm

tensorflow==1.12.2
