absl-py==0.7.1
aif360==0.2.0
alabaster==0.7.8
asn1crypto==0.24.0
astor==0.8.0
audioread==2.1.8
Babel==2.4.0
basenet==0.0.0
beautifulsoup4==4.7.1
bleach==3.1.0
blis==0.2.4
boto==2.49.0
boto3==1.9.174
botocore==1.12.174
Bottleneck==1.2.1
bs4==0.0.1
byudml==0.6.6
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
cryptography==2.1.4
custom-inherit==2.2.0
cvxpy==1.0.24
cycler==0.10.0
cymem==2.0.2
Cython==0.29.7
d3m==2019.6.7
dask==1.2.2
dataclasses==0.6
datamart==2019.6.17
datamart-isi==2.1
datamart-nyu==0.2.1
datasketch==1.4.5
date-extractor==3.9.1
dateparser==0.7.0
deap==1.3.0
decorator==4.4.0
defusedxml==0.6.0
dill==0.2.9
distributed==1.28.1
docker==2.7.0
docker-pycreds==0.4.0
docutils==0.14
ecos==2.0.7.post1
entrypoints==0.3
Faker==1.0.7
fastai==1.0.53.post2
fastdtw==0.3.2
fastprogress==0.1.21
# featuretools==0.9.0
frozendict==1.2
future==0.17.1
gast==0.2.2
gensim==3.7.3
gitdb2==2.0.5
GitPython==2.1.11
GPUtil==1.3.0
graspy==0.0.3
grpcio==1.21.1
h5py==2.9.0
hdbscan==0.8.18
HeapDict==1.0.0
idna==2.6
imageio==2.3.0
imagesize==0.7.1
ipython-genutils==0.2.0
isodate==0.6.0
Jinja2==2.10
jmespath==0.9.4
joblib==0.13.2
jsonlines==1.2.0
jsonpath-ng==1.4.3
jsonschema==2.6.0
julia==0.4.1
jupyter-core==4.5.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
langdetect==1.0.7
lap==0.5.dev0
lapjv==1.2.0
librosa==0.6.3
lightgbm==2.2.2
llvmlite==0.29.0
Markdown==3.1.1
MarkupSafe==1.0
matplotlib==3.1.0
metalearn==0.5.4
mistune==0.8.4
msgpack==0.6.1
multiprocess==0.70.7
murmurhash==1.0.2
mypy-extensions==0.4.1
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.2
nltk==3.4.3
nose==1.3.7
numba==0.44.1
numexpr==2.6.9
numpy==1.15.4
nvidia-ml-py3==7.352.0
opencv-python==4.1.0.25
opencv-python-headless==3.4.5.20
osqp==0.5.0
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
pathos==0.2.3
patsy==0.5.1
Pillow==6.0.0
plac==0.9.6
ply==3.11
pmdarima==1.0.0
pox==0.2.5
ppft==1.6.4.9
preshed==2.0.1
protobuf==3.8.0
psutil==5.6.3
psycopg2-binary==2.8.3
punk==3.0.0
pyarrow==0.13.0
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
Pygments==2.2.0
pymc3==3.7
pyOpenSSL==17.5.0
pyparsing==2.4.0
pyramid-arima==0.9.0
pyrsistent==0.14.11
python-dateutil==2.8.0
python-prctl==1.7
pytorch-pretrained-bert==0.4.1
pytypes==1.0b5
pytz==2018.3
PyWavelets==1.0.3
pyxdg==0.25
PyYAML==5.1
rdflib==4.2.2
redis==3.2.1
regex==2017.4.5
requests==2.19.1
resampy==0.2.1
rescal==0.1
rfc3987==1.3.8
rltk==2.0.0a13
roman==2.0.0
rpi-d3m-primitives==0.1.6
s3transfer==0.2.1
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
scs==2.1.0
seaborn==0.9.0
SecretStorage==2.3.1
selenium==3.141.0
sgm==1.0.3
six==1.11.0
sklearn-pandas==1.8.0
smart-open==1.8.4
smmap2==2.0.5
sortedcontainers==2.1.0
SoundFile==0.10.2
soupsieve==1.9.1
spacy==2.1.4
SPARQLWrapper==1.8.4
Sphinx==1.6.7
sri-d3m==1.5.5
sri-tpot==1.2.2
srsly==0.0.7
statsmodels==0.9.0
stopit==1.1.2
strict-rfc3339==0.7
tablextract==1.3.1
tblib==1.4.0
tensorboard==1.12.2
tensorflow==1.12.2
termcolor==1.1.0
testpath==0.4.2
text-unidecode==1.2
tflearn==0.3.2
Theano==1.0.4
thinc==7.0.4
toolz==0.9.0
torch==1.0.1.post2
torchvision==0.2.1
tornado==6.0.2
TPOT==0.10.1
tqdm==4.32.2
traitlets==4.3.2
tslearn==0.1.29
typing==3.6.6
typing-inspect==0.3.1
tzlocal==1.5.1
update-checker==0.16
urllib3==1.23
wasabi==0.2.2
webcolors==1.8.1
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.15.4
wget==3.2
wikidata-wikifier==1.0.0
Wikipedia-API==0.4.4
xgboost==0.81
zict==0.1.4
